{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-4 text-center">
        <img src="https://via.placeholder.com/150" class="rounded-circle img-fluid" alt="Profile Picture">
        <h2>Bharath M</h2>
        <p>(He/Him)</p>
    </div>
    <div class="col-md-8">
        <h3>About Me</h3>
        <p>Intern @ Exentrix | AI | Machine Learning | Deep Learning | SQL | Researcher | Content Writer</p>
        <p>Study at Global Academy Of Technology, Bengaluru, Karnataka, India</p>
        <h3>Certifications</h3>
        <ul>
            <li>Data Science A-Z Bootcamp 2024 (Issued Apr 2024, Udemy)</li>
            <li>Learning from Data Streams (Issued Feb 2024, IIIT Allahabad)</li>
            <li>Machine Learning Foundation (Issued Dec 2023, ISF)</li>
            <li>Artificial Intelligence Foundation (ISF)</li>
        </ul>
        <h3>Hackathons</h3>
        <ul>
            <li>IBM Z Datathon</li>
            <li>Hack-A-League 2.0</li>
            <li>GCL Hackathons (Infosys)</li>
        </ul>
    </div>
</div>
{% endblock %}
