{% extends "base.html" %}

{% block content %}
<h2>Projects</h2>

<div class="project">
    <h3>End-To-End NLP Chatbot</h3>
    <p>In this prototype, we've seamlessly integrated HTML, CSS, and JS for an intuitive front-end interface, FastAPI for swift backend interactions, and MySQL for personalized data storage. The AI-Chat bot is built using Dialogue Flow (NLP-bots training platform).</p>
    <p>Skills: Dialogflow, FastAPI, MySQL, HTML, CSS</p>
    <p><a href="https://github.com/Bharath12js/Project_5_NLP_Chatbot" target="_blank">GitHub - End-To-End NLP Chatbot</a></p>
</div>

<div class="project">
    <h3>Enhancing Alpha Thalassemia Screening</h3>
    <p>This project introduces an innovative paradigm for Alpha thalassemia detection by integrating machine learning, hyperparameter tuning, and explainable artificial intelligence (XAI) techniques. The iterative hyperparameter tuning process enhances the final XG Boost model's accuracy to an impressive 90.11%.</p>
    <p>Skills: Pandas, Machine Learning</p>
    <p><a href="https://github.com/Bharath12js/Project_4_ALPHA_THALASSEMIA_DETECTION" target="_blank">GitHub - Enhancing Alpha Thalassemia Screening</a></p>
</div>

<div class="project">
    <h3>Crops Analysis and Classification</h3>
    <p>This research investigates the transformative potential of machine learning for crop classification by leveraging soil and environmental data. The K-Nearest Neighbors (KNN) model exhibited remarkable precision, achieving an accuracy rate of 97.5% in pattern recognition.</p>
    <p>Skills: Research Skills, Pandas, Machine Learning</p>
    <p><a href="https://github.com/Bharath12js/Project_3_Crops_Classifications" target="_blank">GitHub - Crops Analysis and Classification</a></p>
</div>

<div class="project">
    <h3>Integrated Fuzzy TOPSIS And AHP Approach for Efficient Water Resources Allocation in Rural Areas</h3>
    <p>This work integrates the Analytic Hierarchy Process (AHP) and Technique for Order of Preference by Similarity to Ideal Solution (TOPSIS) to assess and prioritize rural water resource alternatives.</p>
    <p>Skills: AHP, TOPSIS, Resource Management</p>
    <p><a href="https://github.com/Bharath12js/Project_2_FuzzyTopsis_FuzzyAHP" target="_blank">GitHub - Integrated Fuzzy TOPSIS And AHP</a></p>
</div>

<div class="project">
    <h3>Predicting Alzheimer’s Disease Progression through Machine Learning Algorithms</h3>
    <p>This project revolves around the crucial task of early Alzheimer's disease detection using machine learning algorithms. The SVM model, utilizing a linear kernel, achieves an impressive accuracy of 98% in AD detection and 98.7% in AD classification.</p>
    <p>Skills: SVM, Machine Learning, Data Analysis</p>
    <p><a href="https://github.com/Bharath12js/Project_1_Predicting_Alzheimer" target="_blank">GitHub - Predicting Alzheimer’s Disease Progression</a></p>
</div>
{% endblock %}
